#body {
	display: grid;
	margin: 25px 50px;
	grid-template-rows: 100px 100px auto;
	width: calc(100% - 100px);
	height: calc(100% - 50px);
}

#header {
	text-align: center;
	font-family: Roboto;
}

#sidebar {
	display: grid;
	grid-template-columns: repeat(3,20% 1fr) 20%;
	grid-column-gap: 1fr;
}

.content {
	background: black;
}

.menu {
	margin: 15px 0;
	width: 100%;
	height: 46px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	padding-top: 24px;
}

.menu:hover {
	cursor: pointer;
	background: #E3E3E3;
	margin-top: 16px;
	margin-left: 1px;
}